.jumbotron {
  padding-top: 6rem;
  background-color: #585858;
}

#project {
  background-color: #585858;
}

#contact .container {
  margin-bottom: 100px;
}
footer {
  background-color: #2c2c2c;
}
section {
  padding-top: 5rem;
}

.card img {
  transition: 1s;
}

.card img:hover {
  filter: grayscale(50%);
  transform: scale(1.02);
}
