.brand .navbar-brand:hover {
  transition: 0.1s;
  transform: scale(1.02);
}

.jumbotron {
  background-image: url('img/jumbotron-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding-top: 10rem;
  min-height: 720px;
  background-color: #585858;
  overflow: hidden;
}
.isijumbotron {
  padding-top: 10rem;
  transition: 1.3s;
  opacity: 0;
  transform: translate(0, 0);
}

.isijumbotron.muncul {
  opacity: 1;
  transform: translate(0, 0);
}

.bigTittle {
  background-image: url('img/bigtittle/2.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.bigTittle h1,
.skills h1 {
  font-size: 50px;
}
.bigTittle h1,
.jumbotron h1,
.jumbotron p {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.tittleportfolio,
.education .fonttittle,
#skills .tittle,
#skills .skills1,
#skills .skills2,
#skills .skills3 {
  opacity: 0;
  transform: translate(0, 50px);
  transition: 1.3s;
}
.tittleportfolio.muncul,
.education .fonttittle.muncul,
#skills .tittle.muncul,
#skills .skills1.muncul,
#skills .skills2.muncul,
#skills .skills3.muncul {
  opacity: 1;
  transform: translate(0, 0);
}
#skills {
  background-color: #212121;
  min-height: 700px;
}
#about {
  background-color: #212121;
  min-height: 700px;
}
#about img {
  height: auto;
  width: 600px;
  max-width: 100%;
  margin-top: -50px;
}
.aboutme {
  font-size: 40px;
}
.aboutme,
.isiaboutme {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translate(0, 50px);
  transition: 1.3s;
}

.aboutme.muncul,
.isiaboutme.muncul {
  opacity: 1;
  transform: translate(0, 0);
}
/* project */
#project {
  background-color: #212121;
}

.project .card {
  transition: 1s;
  transform: translate(0, 40px);
  opacity: 0;
  margin-bottom: 10rem;
}
.project .card.muncul {
  opacity: 1;
  transform: translate(0, 0);
}

.tittleeducation {
  background-image: url('img/bigtittle/3.jpg');
  background-attachment: fixed;
  background-size: cover;
}
#education {
  background-color: #212121;
}
.education h1 {
  font-size: 50px;
}
.education .fonttittle {
  opacity: 0;
  transform: translate(0, 50px);
}
.education {
  min-height: 700px;
}
.education .card.row1,
.education .card.row2 {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: 1.3s;
  transform: translate(0, 50px);
  opacity: 0;
}
.education .card.row1.muncul,
.education .card.row2.muncul {
  transform: translate(0, 0);
  opacity: 1;
}

#contact {
  background-color: #242424;
}
#contact .container {
  padding-bottom: 100px;
}

section {
  padding-top: 5rem;
}

.card img {
  transition: 1s;
}

.card img:hover {
  filter: grayscale(50%);
  transform: scale(1.02);
}

.tittle {
  font-size: 50px;
}
#social-media {
  background-color: #242424;
}
.simbol {
  font-size: 40px;
  text-decoration: none;
  color: #f3f3f3;
}

footer {
  background-color: #2c2c2c;
}
